.headerafter {


    display: grid;
    grid-template-rows: repeat(2, 1fr);


    justify-items: center;
    gap: 0.25em;

    color: white;

font-family: "Roboto Flex", sans-serif;
    & h2 {
        color: var(--content-primary);
        font-size: var(--label-lg);
        
    }

    & span {
        color: var(--content-secondary);
    }
}



.square__content {
  transform: rotate(-180deg);
   animation:  stopRotation  2s ease-in-out forwards, changeColorCharacter 4s ease-in forwards ;
   
    font-family: "Roboto mono", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    
  
}

@keyframes changeColorCharacter {
    0%{
color: black;
    }

    100%{
color: var(--content-brand);
    }
}


@keyframes stopRotation {
    0%{
  transform: rotate(0deg);
    }

    100%{
  transform: rotate(-180deg);
    }
}


.square__show {
  display: grid;
  justify-items: center;
  align-items: center;

  width: 5em;
  height: 5em;
  background-color: var(--content-brand);
  color: white;
  border-radius: 1.75em;

  animation: centerToLeft 5s ease-in-out,rotate 2s ease-in-out forwards, hideBackground 1s ease-in-out forwards;
  animation-delay: 0s, 0s, 2s; /* inicia rotação imediatamente, e fundo 1s depois */
   
   
   
}



.square__desappear{

    background-color: transparent;

}



.sobrepor{
  position: absolute;
}



.container__results_squares{
    display: flex;
    
    position: relative;
    
}


@keyframes rotate {
  0% {
    opacity: 0;
    scale: 0.7;
    transform: rotate(0deg);
  }

  100% {
    opacity: 1;
    scale: 1;
    transform: rotate(180deg);
  }
}

@keyframes hideBackground {
  0% {
    background-color: var(--content-brand);
  }

  100% {
    background-color: transparent;
  }
}

@keyframes centerToLeft {
  0%{
    transform: translateX(100%);
  }

  100%{
    transform: translateX(0%);
  }
}









.sortearAgain{

  display: flex ;
  color: var(--content-primary);
  gap: 1em;
  background-color: var(--background-tertiary);
  padding: 1em;
  border-radius: 8px;
  border: none;
  justify-content: center;
  min-width: 20vw;

  margin: auto;
font-family: "Roboto mono", sans-serif;
    font-weight: bold;
    
  margin-top: 2.5em;
  & :hover{
    cursor: pointer;
  }
}